.relative {
  position: relative;
}

.shrink {
  flex-shrink: 1;
}

.grow {
  flex-grow: 1;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.text-center {
  text-align: center;
}

.columns {
  display: flex;
  grid-gap: 0.5rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

// margins

.mt-4 {
  margin-top: 1rem;
}
